<menu>
    <VPN>
      <Tinc VisibleName="Tinc">
        <Configuration order="10" url="/ui/tinc"/>
        
      </Tinc>
    </VPN>
    <ReportsandLogs>
    <LogFiles>
      <TincLogFile VisibleName="Tinc Log File" order="20" url="/ui/diagnostics/log/core/tinc"/>
    </LogFiles>
  </ReportsandLogs>
</menu>
