<acl>
    <page-services-haproxy>
        <name>Services: Primary Server Load Balancer</name>
        <patterns>
            <pattern>ui/haproxy/*</pattern>
            <pattern>api/haproxy/*</pattern>
            <pattern>ui/diagnostics/log/core/haproxy/*</pattern>
            <pattern>api/diagnostics/log/core/haproxy/*</pattern>
        </patterns>
    </page-services-haproxy>
</acl>
