<menu>
    <Services>
        <ClamAV Visiblename="Antivirus (ClamAV)" order="0">
            <Configuration order="10" url="/ui/clamav/general/index"/>
            
        </ClamAV>
    </Services>
    <ReportsandLogs>
        <LogFiles>
            <ClamAVLogFiles VisibleName="ClamAV Log File" order="120" url="/ui/diagnostics/log/core/clamd"/>
        </LogFiles>
  </ReportsandLogs>
</menu>
